extends layout

block content
  .row.justify-content-center
    .col-6
      .card.mt-5
        .card-body
          .row.justify-content-center
            .col-8
              p.h4.text-center.mb-4 Renovação de senha

              form.needs-validation(method='post', action='/user/edit/' + user._id, novalidate)
                .md-form
                  i.fas.fa-lock.prefix.grey-text
                  label(for="password") Nova senha
                  input#password.form-control(
                    type="password",
                    name="password",
                    required)
                  .invalid-feedback Por favor, preencha este campo
                .md-form
                  i.fas.fa-lock.prefix.grey-text
                  label(for="passwordack") Repita a nova senha
                  input#passwordack.form-control(
                    type="password",
                    name="passwordack",
                    oninput="check(this)"
                  )
                  .invalid-feedback As senhas estão diferentes
                .form-buttons.text-center
                  button.btn.btn-primary.btn-lg.teal.lighten-2(type="submit") Alterar

block scripts
  script(src='/javascripts/changepassword_actions.js')