extends layout

block content
  .card.mt-4
    h4.card-header.orange.darken-2.white-text
      span.card-title Upload de novo firmware
    .card-body
      form(method="post", action="/firmware/upload", name="firmwareform")
        .col
          .input-group
            label.input-group-btn
              label.btn.orange.darken-2.btn-file
                | Arquivo...
                input.form-control(type="file", name="firmwarefile",
                                   style="display:none;")
            input.form-control(type="text", readonly)

        .col.mt-4.text-center
          .form-buttons
            button.btn.btn-lg.orange.darken-2(type="submit") Upload

  .card.mt-4
    h4.card-header.orange.darken-2.white-text
      .fas.fa-hdd.fa-lg
      span &nbsp Firmwares
    .card-body
      if ! firmwares || firmwares.length == 0
        h3.text-center Nenhum upload de firmware realizado
      else
        .text-right
          .btn-group(role="group")
            button.btn.btn-danger(type="button" id="btn-firmware-trash")
              .fas.fa-trash.fa-lg
        .card.mt-3
          .card-body
            .table-responsive
              table.table.devices-table
                thead
                  tr
                    th.col-xs-1
                      input.checkbox(type="checkbox" id="checkall")
                    th.text-center Fabricante
                    th.text-center Modelo
                    th.text-center Versão
                    th.text-center Release
                tbody
                  each firmware, index in firmwares
                    tr
                      td.col-xs-1
                        input.checkbox(type="checkbox" id=firmware.id)
                      td.text-center #{firmware.vendor}
                      td.text-center #{firmware.model}
                      td.text-center #{firmware.version}
                      td.text-center #{firmware.release}
        .row.justify-content-center.mt-2
          ul.pagination
            - for (var index=1; index<=pages; index++)
              - if (index == page)
                li.active
                  a.btn.deep-orange.darken-4(href="#") #{index}
              - else
                li
                  if lastquery
                    a.btn.orange.darken-2(href="?content=" + lastquery + "&page=" + index) #{index}
                  else
                    a.btn.orange.darken-2(href="?page=" + index) #{index}

block scripts
  script(src='/javascripts/firmware_actions.js')