extends layout

block content
  .col-md-6.col-md-offset-3
    h3.text-center
      span.glyphicon.glyphicon-hdd
      span &nbsp Firmwares
    br
  .col-md-12
    .panel.panel-default
      .panel-heading
        h3.font-bold.panel-title Upload de novo firmware
      .panel-body
        .row.text-center
          form.form-horizontal(method="post", action="/firmware/upload",
                               name="firmwareform")
            .col-md-8.col-md-offset-2.col-xs-12
              .input-group
                label.input-group-btn
                  label.btn.btn-primary.btn-file
                    | Arquivo...
                    input.form-control(type="file", name="firmwarefile",
                                       style="display:none;")
                input.form-control(type="text", readonly)

            .col-md-8.col-md-offset-2.col-xs-12
              .form-buttons
                br
                button.btn.btn-lg.btn-primary(type="submit") Upload

  .col-md-12
    if ! firmwares || firmwares.length == 0
      h3.text-center Nenhum upload de firmware realizado
    else
      .text-right
        .btn-group(role="group")
          button.btn.btn-danger(type="button" id="btn-firmware-trash")
            .glyphicon.glyphicon-trash
      table.table.table-responsive.devices-table
        tr
          th.col-xs-1
            input.checkbox(type="checkbox" id="checkall")
          th.text-center Fabricante
          th.text-center Modelo
          th.text-center Versão
          th.text-center Release
        each firmware, index in firmwares
          tr
            td.col-xs-1
              input.checkbox(type="checkbox" id=firmware.id)
            td.text-center #{firmware.vendor}
            td.text-center #{firmware.model}
            td.text-center #{firmware.version}
            td.text-center #{firmware.release}
      .text-center
        ul.pagination
          - for (var index=1; index<=pages; index++)
            - if (index == page)
              li.active
                a(href="#")= index
            - else
              li
                if lastquery
                  a(href="?content=" + lastquery + "&page=" + index)= index
                else
                  a(href="?page=" + index)= index

block scripts
  script(src='/javascripts/firmware_actions.js')