extends layout

block content

  .row.justify-content-center
    .col-12.col-md-6.mt-4
      form(action="/devicelist/search")
        .md-form.input-group
          input.form-control(type="search", name="content",
                             placeholder="Buscar...")
          .input-group-btn
            button.my-0.btn.orange.darken-2(type="submit")
              .fas.fa-search.fa-lg

  .row.justify-content-center
    .col-12.col-lg-6.mt-5
      .card
        h4.card-header.orange.darken-2.white-text(id="card-header",
                                                  data-toggle="collapse",
                                                  data-target="#deviceCard",
                                                  style="cursor: pointer;")
          .row
            .col-1
              .fas.fa-plus
            .col-10.text-center
              span.card-title Adicionar novo dispositivo
        .card-body.collapse.out(id="deviceCard")
          form(id="deviceForm")
            .md-form.input-group
              .input-group-btn
                button.btn.orange.darken-2.dropdown-toggle.ml-0.my-0(
                  type="button",
                  data-toggle="dropdown"
                )
                  span.selected CPF
                #new_ext_ref_type.dropdown-menu
                  a.dropdown-item.text-center.active.orange.darken-2 CPF
                  a.dropdown-item.text-center RG
                  a.dropdown-item.text-center Número do cliente
              input.col-xs-10.form-control.py-0.added-margin(
                type="text",
                id="new_external_reference",
                placeholder="Identificação do cliente"
              )
            .mt-4
              label(for="new_connect_type") Tipo de Conexão
              select.form-control(id="new_connect_type")
                option(value="DHCP") DHCP
                option(value="PPPoE") PPPoE
            .md-form
              input.col-xs-10.form-control(type="text", id="new_mac")
              label Endereço MAC
            .md-form
              input.col-xs-10.form-control(type="text",
                                                id="new_pppoe_user",
                                                maxlength="64")
              label Usuário PPPoE
            .md-form
              input.col-xs-10.form-control(type="text",
                                                id="new_pppoe_pass",
                                                maxlength="64")
              label Senha PPPoE
            .md-form
              input.col-xs-10.form-control(type="text",
                                                id="new_wifi_ssid",
                                                maxlength="32")
              label SSID do WiFi
            .md-form
              input.col-xs-10.form-control(type="text",
                                                id="new_wifi_pass",
                                                maxlength="64")
              label Senha do WiFi
            .mt-4
              label(for="new_wifi_channel") Canal do WiFi
              select.form-control(id="new_wifi_channel")
                option(value="auto") auto
                option(value="1") 1
                option(value="6") 6
                option(value="11") 11
            .col.mt-4.text-center
              .form-buttons
                button.btn.btn-lg.orange.darken-2(type="submit")
                  .fas.fa-check.fa-lg
                  span &nbsp Adicionar

  .row.justify-content-center
    .col-12.mt-1
      if ! devices || devices.length == 0
        h3.text-center Nenhum dispositivo registrado
      else
        .card.mt-3
          .card-body
            .table-responsive
              table.table.devices-table
                thead
                  tr
                    th
                    th.text-center #
                    th.text-center Status
                    th.text-center Usuário PPPoE
                    th.text-center Identificação
                    th.text-center IP WAN
                    th.text-center IP Público
                    th.text-center Release
                    th.text-center Atualizar Firmware
                tbody
                  tr
                    td
                    td.text-center
                      | #{status.totalnum} total
                    td.text-center
                      | #{status.onlinenum} online  
                    td.text-center *
                    td.text-center *
                    td.text-center *
                    td.text-center *
                    td.text-center *
                    td.text-center
                      label.switch
                        input.checkbox(
                          id="all-devices",
                          type="checkbox",
                          name="do_update",
                          checked=false
                        )
                        .slider.round
                  each device, index in devices
                    tr(id=device._id, data-index=(index + 1))
                      td.text-center.col-xs-1(
                        style="cursor: pointer;"
                      )
                        .fas.fa-chevron-right.fa-lg
                      td.text-center.col-xs-1=(index + 1)
                      td.text-center.col-xs-1
                        .fas.fa-circle.fa-lg(
                          class=status.devices[device._id],
                          data-toggle="tooltip",
                          title=device.last_contact
                        )
                      td.text-center.col-xs-2
                        | #{device.pppoe_user}
                      td.text-center.col-xs-2
                        | #{device._id}
                      td.text-center.col-xs-1
                        | #{device.wan_ip}
                      td.text-center.col-xs-2
                        | #{device.ip}
                      td.text-center.col-xs-1
                        .btn-group
                          button.btn.btn-sm.orange.darken-2.dropdown-toggle(
                            type="button",
                            data-toggle="dropdown",
                            aria-haspopup="true",
                            aria-expanded="true"
                          )
                            span.selected #{device.release}
                          .dropdown-menu
                            a.dropdown-item.text-center.active.orange.darken-2 #{device.release}
                            each release, idx in releases
                              if (device.release !== release.id)
                                if device.model.includes('/')
                                  if (device.model.replace('N/', '') === release.model)
                                    a.dropdown-item.text-center #{release.id}
                                  else if (device.model.replace('/ND', '') === release.model)
                                    a.dropdown-item.text-center #{release.id}
                                if (device.model === release.model)
                                  a.dropdown-item.text-center #{release.id}
                      td.text-center.col-xs-1
                        label.switch
                          input.checkbox(
                            type="checkbox",
                            name="do_update",
                            checked=device.do_update
                          )
                          .slider.round
                    tr.table-active.info-div(
                      id="hide-" + (index + 1),
                      data-deviceid=device._id,
                      data-index=(index + 1),
                      data-user=device.pppoe_user,
                      data-pass=device.pppoe_password,
                      data-ssid=device.wifi_ssid,
                      data-wifi-pass=device.wifi_password,
                      data-channel=device.wifi_channel,
                      data-external-ref=device.external_reference,
                      style="display: none;"
                    )
                      td.text-center.col-xs-1
                        .fas.fa-info-circle.fa-lg
                      td(colspan=3).text-left
                        div
                        b Senha PPPoE:
                        |  #{device.pppoe_password}
                        br
                        b Modelo:
                        |  #{device.model}
                        br
                        b Versão:
                        |  #{device.version}
                      td(colspan=3).text-left
                        div
                        b SSID WiFi:
                        |  #{device.wifi_ssid}
                        br
                        b Senha WiFi:
                        |  #{device.wifi_password}
                        br
                        b Canal WiFi:
                        |  #{device.wifi_channel}
                      td.text-center.col-xs-1.btn-edit(style="cursor: pointer;")
                        .fas.fa-edit.fa-lg
                        h6 Editar
                      td.text-center.col-xs-1.btn-trash(style="cursor: pointer;")
                        .fas.fa-trash.fa-lg
                        h6 Remover
                    tr.table-active.form-div(
                      id="form-" + (index + 1),
                      data-deviceid=device._id,
                      data-index=(index + 1)
                      style="display: none;"
                    )
                      td(colspan=9).grey.lighten-5
                        form.edit-form(id="editDeviceForm-" + (index + 1))
                          .row.justify-content-center.mt-3
                            .col-6.col-offset-3
                              label(for="edit_connect_type-" + (index + 1)) Tipo de Conexão
                              select.form-control(id="edit_connect_type-" + (index + 1))
                                option(value="DHCP") DHCP
                                option(value="PPPoE") PPPoE
                          .row.justify-content-center
                            .col-6.col-offset-3
                              .md-form
                                input.col-xs-10.form-control(type="text",
                                                                  id="edit_external_reference-" + (index + 1),
                                                                  maxlength="64")
                                label Identificação do cliente
                          .row.justify-content-center
                            .col-6.col-offset-3
                              .md-form
                                input.col-xs-10.form-control(type="text",
                                                                  id="edit_pppoe_user-" + (index + 1),
                                                                  maxlength="64")
                                label.active Usuário PPPoE
                          .row.justify-content-center
                            .col-6.col-offset-3
                              .md-form
                                input.col-xs-10.form-control(type="text",
                                                                  id="edit_pppoe_pass-" + (index + 1),
                                                                  maxlength="64")
                                label.active Senha PPPoE
                          .row.justify-content-center
                            .col-6.col-offset-3
                              .md-form
                                input.col-xs-10.form-control(type="text",
                                                                  id="edit_wifi_ssid-" + (index + 1),
                                                                  maxlength="32")
                                label.active SSID do WiFi
                          .row.justify-content-center
                            .col-6.col-offset-3
                              .md-form
                                input.col-xs-10.form-control(type="text",
                                                                  id="edit_wifi_pass-" + (index + 1),
                                                                  maxlength="64")
                                label.active Senha do WiFi
                          .row.justify-content-center.mt-3
                            .col-6.col-offset-3
                              label(for="edit_wifi_channel-" + (index + 1)) Canal do WiFi
                              select.form-control(id="edit_wifi_channel-" + (index + 1))
                                option(value="auto") auto
                                option(value="1") 1
                                option(value="6") 6
                                option(value="11") 11
                          .row.justify-content-center.mt-4
                            .form-buttons
                              button.btn.btn-lg.orange.darken-2(type="submit")
                                .fas.fa-check.fa-lg
                                span &nbsp Editar
                            button.btn-cancel.btn.btn-lg.orange.darken-2(type="reset")
                              .fas.fa-times.fa-lg
                              span &nbsp Cancelar

        .row.justify-content-center.mt-4
          nav
            ul.pagination.pagination-lg
              - let cPage = parseInt(page);
              - let delta = 2;
              - for (var i=1; i<=pages; i++) {
              -   if (i == 1 || i == pages || ((i >= cPage-delta) && (i <= cPage+delta))) {
              -     if (i == page)
                      li.page-item.active
                        a.page-link.orange.darken-2(href="#") #{i}
              -     else {
              -       if (i == pages && (cPage+delta <= pages-delta)) {
                        li.page-item
                          h3.page-link.disabled ...
              -       }
                      li.page-item
                        a.page-link(href="?content=" + lastquery + "&page=" + i) #{i}
              -       if (i == 1 && (cPage-delta > delta)) {
                        li.page-item
                          h3.page-link.disabled ...
              -       }
              -     }
              -   }
              - }

block scripts
  script(src='/javascripts/device_validator.js')
  script(src='/javascripts/new_device.js')
  script(src='/javascripts/edit_device.js')
  script(src='/javascripts/update_device.js')
  script(src='/javascripts/table_anim.js')
