extends layout

block content
  #special-search-terms.modal.fade(tabindex="-1", role="dialog")
    .modal-dialog.modal-notify.modal-teal(role="document")
      .modal-content
        .modal-header
          p.heading.lead
            span.fas.fa-search.fa-lg
            strong &nbsp; Termos de Busca Especiais

          button.close(type="button", data-dismiss="modal")
            span.white-text &times;
        .modal-body
            .row
              .col-7
                h4
                  span.badge.grey.lighten-2.bounceIn.mr-2
                    .black-text online
                  span.badge.grey.lighten-2.bounceIn
                    .black-text offline
              .col-5
                p
                  strong Use um desses termos para filtrar somente os dispositivos online ou offline
            .row.mt-2
              .col-7
                h4
                  span.badge.grey.lighten-2.bounceIn.mr-2
                    .black-text upgrade on
                  span.badge.grey.lighten-2.bounceIn
                    .black-text update on
              .col-5
                p
                  strong Use um desses termos para filtrar somente os dispositivos marcados para atualização
            .row.mt-2
              .col-7
                h4
                  span.badge.grey.lighten-2.bounceIn.mr-2
                    .black-text upgrade off
                  span.badge.grey.lighten-2.bounceIn
                    .black-text update off
              .col-5
                p
                  strong Use um desses termos para filtrar somente os dispositivos não marcados para atualização

  .row.justify-content-center
    .col-12.col-lg-8.mt-4
      form(action="/devicelist/search")
        .mt-4.input-group
          input.form-control.tags-input(type="tags", name="content",
                                        placeholder="Buscar...")
          .input-group-append(
            data-toggle="tooltip",
            title="-Use as vírgulas para combinar os filtros desejados. (Exemplo: TP-Link, 0001-aix)"
          )
            span.input-group-text.md-addon
              .fas.fa-question.fa-lg
          .input-group-btn
            button.my-0.btn.teal.lighten-2(type="submit")
              .fas.fa-search.fa-lg
        a.badge.teal.lighten-2.bounceIn(
          data-toggle="modal",
          data-target="#special-search-terms"
        )
          | Termos Especiais &nbsp
          .fas.fa-plus-circle

  if (superuser || role.grantDeviceAdd)
    .row.justify-content-center
      .col-12.col-lg-8.mt-5
        .card
          h4.card-header.teal.lighten-2.white-text(id="card-header",
                                                    data-toggle="collapse",
                                                    data-target="#deviceCard",
                                                    style="cursor: pointer;")
            .row
              .col-1
                .fas.fa-plus
              .col-10.text-center
                span.card-title Adicionar novo dispositivo
          .card-body.collapse.out(id="deviceCard")
            form.needs-validation(id="deviceForm", novalidate)
              .md-form.input-group
                .input-group-btn
                  button.btn.teal.lighten-2.dropdown-toggle.ml-0.my-0(
                    type="button",
                    data-toggle="dropdown"
                  )
                    span#new_ext_ref_type_selected.selected CPF
                  #ext_ref_type.dropdown-menu
                    a.dropdown-item.text-center.active.teal.lighten-2 CPF
                    a.dropdown-item.text-center CNPJ
                    a.dropdown-item.text-center Outro
                input.col-xs-10.form-control.py-0.added-margin.ext-ref-input(
                  type="text",
                  id="new_external_reference",
                  placeholder="Identificação do cliente (opcional)",
                  maxlength="64"
                )
              label(for="new_connect_type") Tipo de Conexão
              select.form-control(id="new_connect_type")
                option(value="DHCP") DHCP
                option(value="PPPoE") PPPoE
              br
              label(for="new_wifi_channel") Canal do WiFi
              select.form-control(id="new_wifi_channel")
                option(value="auto") auto
                option(value="1") 1
                option(value="6") 6
                option(value="11") 11
              br
              .input-entry
                label(for="new_wifi_ssid") SSID do WiFi
                input.form-control(type="text",
                                   id="new_wifi_ssid",
                                   maxlength="32")
                .invalid-feedback
                br
              .input-entry
                label(for="new_wifi_pass") Senha do WiFi
                input.form-control(type="text",
                                   id="new_wifi_pass",
                                   maxlength="64")
                .invalid-feedback
                br
              .input-entry
                label(for="new_mac") Endereço MAC
                input.form-control(type="text", id="new_mac")
                .invalid-feedback
                br
              .input-entry
                label(for="new_pppoe_user") Usuário PPPoE
                input.form-control(type="text",
                                   id="new_pppoe_user",
                                   maxlength="64")
                .invalid-feedback
                br
              .input-entry
                label(for="new_pppoe_pass") Senha PPPoE
                input.form-control(type="text",
                                   id="new_pppoe_pass",
                                   maxlength="64")
                .invalid-feedback
                br
              .col.text-center
                .form-buttons
                  button.btn.btn-lg.teal.lighten-2(type="submit")
                    .fas.fa-check.fa-lg
                    span &nbsp Adicionar

  .row.justify-content-center
    .col-12.mt-4
      if ! devices || devices.length == 0
        h3.mt-2.text-center Nenhum dispositivo registrado
      else
        .row
          .col-12.col-lg-3.offset-lg-9
            .md-form.input-group
              input.form-control.col-xs-10(
                type="text",
                id="input-elements-pp",
                maxlength="4",
                value=elementsperpage)
              label Registros por página
              .input-group-btn
                button.btn.teal.lighten-2.mr-0.my-0(
                  type="button",
                  id="btn-elements-per-page") Ok
        .card
          .card-body
            .table-responsive
              table.table.devices-table
                thead
                  tr.csv-export(data-deviceid="Identificação",
                     data-connection-type="Tipo de Conexão WAN",
                     data-user="Usuário PPPoE",
                     data-pass="Senha PPPoE",
                     data-ssid="WiFi SSID",
                     data-wifi-pass="WiFi Senha",
                     data-channel="WiFi Canal",
                     data-ext-wan="IP Público",
                     data-int-wan="IP WAN",
                     data-external-ref-type="Tipo de ID do cliente",
                     data-external-ref="ID do cliente",
                     data-device-model="Modelo do roteador",
                     data-device-version="Versão do Flashbox",
                     data-device-release="Release",
                     data-do-update="Atualizar Firmware"
                  )
                    th
                    th.text-center #
                    th.text-center
                      span Status &nbsp
                      a.fas.fa-question-circle(
                        href="#",
                        data-toggle="tooltip",
                        title="-Verde: Online\n-Vermelho: Sem resposta imediata\n-Cinza: Sem resposta por mais de 1 hora",
                      )
                    th.text-center Usuário PPPoE
                    th.text-center Identificação
                    th.text-center IP WAN
                    th.text-center IP Público
                    th.text-center Release
                    th.text-center Atualizar Firmware
                tbody
                  tr
                    td
                    td.text-center
                      | #{status.totalnum} total
                    td.text-center
                      | #{status.onlinenum} online  
                    td.text-center *
                    td.text-center *
                    td.text-center *
                    td.text-center *
                    td.text-center *
                    td.text-center
                      label.switch
                        input.checkbox(
                          id="all-devices",
                          type="checkbox",
                          name="do_update",
                          checked=false
                        )
                        .slider.round
                  each device, index in devices
                    tr.csv-export(id=device._id,
                       data-index=(index + 1),
                       data-deviceid=device._id,
                       data-connection-type=(device.connection_type ? device.connection_type : ""),
                       data-user=device.pppoe_user,
                       data-pass=device.pppoe_password,
                       data-ssid=device.wifi_ssid,
                       data-wifi-pass=device.wifi_password,
                       data-channel=device.wifi_channel,
                       data-ext-wan=(device.ip ? device.ip : ""),
                       data-int-wan=(device.wan_ip ? device.wan_ip : ""),
                       data-external-ref-type=(device.external_reference.kind ? device.external_reference.kind : ""),
                       data-external-ref=(device.external_reference.data ? device.external_reference.data : ""),
                       data-device-model=(device.model ? device.model : ""),
                       data-device-version=(device.version ? device.version : ""),
                       data-device-release=(device.release ? device.release : ""),
                       data-do-update=(device.do_update ? "Sim" : "Não"),
                    )
                      td.text-center.col-xs-1(
                        style="cursor: pointer;"
                      )
                        .fas.fa-chevron-right.fa-lg
                      td.text-center.col-xs-1=(index + 1)
                      td.text-center.col-xs-1
                        .fas.fa-circle.fa-lg(
                          class=status.devices[device._id],
                          data-toggle="tooltip",
                          title=device.last_contact.toString()
                        )
                      td.text-center.col-xs-2
                        | #{device.pppoe_user}
                      td.text-center.col-xs-2
                        | #{device._id}
                      td.text-center.col-xs-1
                        | #{device.wan_ip}
                      td.text-center.col-xs-2
                        | #{device.ip}
                      td.text-center.col-xs-1
                        .btn-group
                          button.btn.btn-sm.teal.lighten-2.dropdown-toggle(
                            type="button",
                            data-toggle="dropdown",
                            aria-haspopup="true",
                            aria-expanded="true"
                          )
                            span.selected #{device.release}
                          .dropdown-menu
                            a.dropdown-item.text-center.active.teal.lighten-2 #{device.release}
                            each release, idx in releases
                              if (device.release !== release.id)
                                if device.model.includes('/')
                                  if (device.model.replace('N/', '') === release.model)
                                    a.dropdown-item.text-center #{release.id}
                                  else if (device.model.replace('/ND', '') === release.model)
                                    a.dropdown-item.text-center #{release.id}
                                if (device.model === release.model)
                                  a.dropdown-item.text-center #{release.id}
                      td.text-center.col-xs-1
                        label.switch
                          input.checkbox(
                            type="checkbox",
                            name="do_update",
                            checked=device.do_update
                          )
                          .slider.round
                    tr(
                      id="form-" + (index + 1),
                      data-deviceid=device._id,
                      data-index=(index + 1),
                      style="display: none;"
                    )
                      td(colspan=9).grey.lighten-5
                        form.edit-form.needs-validation(novalidate)
                          .row
                            .col-5
                              // Identification
                              .md-form.input-group.input-entry
                                if (superuser || role.grantDeviceId)
                                  .input-group-btn
                                    button.btn.teal.lighten-2.dropdown-toggle.ml-0.my-0(
                                      type="button",
                                      data-toggle="dropdown"
                                    )
                                      span.selected(id="edit_ext_ref_type_selected-" + (index + 1)) CPF
                                    #ext_ref_type.dropdown-menu
                                      a.dropdown-item.text-center.active.teal.lighten-2 CPF
                                      a.dropdown-item.text-center CNPJ
                                      a.dropdown-item.text-center Outro
                                  input.form-control.py-0.added-margin.ext-ref-input(
                                    type="text",
                                    id="edit_external_reference-" + (index + 1),
                                    placeholder="ID do cliente (opcional)",
                                    maxlength="64"
                                  )
                                else
                                  .input-group-btn
                                    button.btn.teal.lighten-2.dropdown-toggle.ml-0.my-0(
                                      type="button",
                                      data-toggle="dropdown",
                                      disabled
                                    )
                                      span.selected(id="edit_ext_ref_type_selected-" + (index + 1)) CPF
                                    #ext_ref_type.dropdown-menu
                                      a.dropdown-item.text-center.active.teal.lighten-2 CPF
                                      a.dropdown-item.text-center CNPJ
                                      a.dropdown-item.text-center Outro
                                  input.form-control.py-0.added-margin.ext-ref-input(
                                    type="text",
                                    id="edit_external_reference-" + (index + 1),
                                    placeholder="ID do cliente (opcional)",
                                    maxlength="64",
                                    disabled
                                  )
                                .invalid-feedback
                              br
                            // Actions
                            if (superuser || role.grantDeviceActions)
                              .col-7.text-right.actions-opts
                                .btn-group.btn-group-sm(role="group")
                                  button.btn.teal.lighten-2.btn-sm.btn-reboot(type="button")
                                    .fas.fa-sync.fa-lg
                                    span &nbsp Reiniciar roteador
                                  button.btn.teal.lighten-2.btn-sm.btn-reset-app(type="button")
                                    .fas.fa-mobile-alt.fa-lg
                                    span &nbsp Resetar senha App
                                br
                                span.badge.badge-success.bounceIn(style="display: none;") Sucesso
                          .row
                            .col-2
                              // Connection type
                              label(for="edit_connect_type-" + (index + 1)) Tipo de Conexão
                              select.form-control(id="edit_connect_type-" + (index + 1))
                                option(value="DHCP") DHCP
                                option(value="PPPoE") PPPoE
                              br
                              h7.orange-text(id="edit_connect_type_warning-" + (index + 1),
                                             style="display: none;")
                                | Cuidado! Isso pode deixar o roteador inacessível
                                | dependendo das configurações de rede do seu provedor
                            .col-3
                              // Device info
                              .input-entry
                                label Modelo
                                input.form-control(type="text",
                                                   id="info_device_model-" + (index + 1),
                                                   maxlength="32", disabled)
                                .invalid-feedback
                              br
                              .input-entry
                                label Versão do Flashbox
                                input.form-control(type="text",
                                                   id="info_device_version-" + (index + 1),
                                                   maxlength="32", disabled)
                                .invalid-feedback
                              br
                            .col-4
                              // Wifi channel
                              label(for="edit_wifi_channel-" + (index + 1)) Canal do WiFi
                              select.form-control(id="edit_wifi_channel-" + (index + 1))
                                option(value="auto") auto
                                option(value="1") 1
                                option(value="6") 6
                                option(value="11") 11
                              br
                              // Wifi ssid
                              .input-entry
                                label(for="edit_wifi_ssid-" + (index + 1)) SSID do WiFi
                                input.form-control(type="text",
                                                   id="edit_wifi_ssid-" + (index + 1),
                                                   maxlength="32")
                                .invalid-feedback
                              br
                              // Wifi password
                              .input-entry
                                label(for="edit_wifi_pass-" + (index + 1)) Senha do WiFi
                                input.form-control(type="text",
                                                   id="edit_wifi_pass-" + (index + 1),
                                                   maxlength="64")
                                .invalid-feedback
                            .col-3
                              // PPPoE user
                              .input-entry
                                label(for="edit_pppoe_user-" + (index + 1)) Usuário PPPoE
                                input.form-control(type="text",
                                                   id="edit_pppoe_user-" + (index + 1),
                                                   maxlength="64")
                                .invalid-feedback
                              br 
                              // PPPoE password
                              .input-entry
                                label(for="edit_pppoe_pass-" + (index + 1)) Senha PPPoE
                                input.form-control(type="text",
                                                   id="edit_pppoe_pass-" + (index + 1),
                                                   maxlength="64")
                                .invalid-feedback
                              br
                          .row
                            // Buttons
                            if (superuser || role.grantDeviceRemoval)
                              .col.text-left
                                button.btn.btn-danger.btn-trash(type="button")
                                  .fas.fa-trash.fa-lg
                                  span &nbsp Remover
                            .col.text-right
                              button.btn.teal.lighten-2(type="submit")
                                .fas.fa-check.fa-lg
                                span &nbsp Editar

        .row.mt-3.mb-3
          .col-md-9
            nav
              ul.pagination.pagination-lg
                - let cPage = parseInt(page);
                - let delta = 2;
                - for (var i=1; i<=pages; i++) {
                -   if (i == 1 || i == pages || ((i >= cPage-delta) && (i <= cPage+delta))) {
                -     if (i == page)
                        li.page-item.active
                          a.page-link.teal.lighten-2(href="#") #{i}
                -     else {
                -       if (i == pages && (cPage+delta <= pages-delta)) {
                          li.page-item
                            h3.page-link.disabled ...
                -       }
                        li.page-item
                          a.page-link(href="?content=" + lastquery + "&page=" + i) #{i}
                -       if (i == 1 && (cPage-delta > delta)) {
                          li.page-item
                            h3.page-link.disabled ...
                -       }
                -     }
                -   }
                - }
          .col-md-3
            .text-right
              button#export-csv.btn.teal.lighten-2.mr-0.my-0
                .fas.fa-file-excel.fa-lg
                span &nbsp Exportar CSV

block scripts
  script(src='/scripts/tags-input/tags-input.js')
  script(src='/javascripts/device_validator.js')
  script(src='/javascripts/new_device.js')
  script(src='/javascripts/edit_device.js')
  script(src='/javascripts/update_device.js')
  script(src='/javascripts/table_anim.js')
  script.
    (function() {
      'use strict';
      window.addEventListener('load', function() {
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
          form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
