extends layout

block content
  if ! devices || devices.length == 0
    h3.text-center Nenhum dispositivo registrado
  else
    table.table.table-responsive.devices-table
      tr
        th #
        th Identificação
        th Modelo
        th Versão
        th IP
        th Atualizar Firmware
        th
      each device, index in devices
        tr(id=device._id)
          td.col-xs-1=index + 1
          td.col-xs-3
            | #{device._id}
          td.col-xs-2
            | #{device.model}
          td.col-xs-2
            | #{device.version}
          td.col-xs-2
            | #{device.ip}
          td.col-xs-2
            label.switch
              input.checkbox(type="checkbox", name="do_update", checked=device.do_update)
              .slider.round

block scripts
  script(src='/javascripts/update_device.js')
